<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
<h1>Список пользователей</h1>
<p><a th:href="@{/user/add}">Добавить нового пользователя</a></p>

<div>
    <h2 th:if="${users == null || users.isEmpty()}">No users yet!</h2>
    <div th:if="${users != null && !users.isEmpty()}">
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td><a th:href="@{/user/edit(id=${user.getId()})}">Изменить</a></td>
                <td>
                    <form th:action="@{/user/delete}" method="post">
                        <input type="hidden" name="id" th:value="${user.getId()}"/>
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
